body{
    background-image: url("https://images.pexels.com/photos/2313677/pexels-photo-2313677.jpeg?auto=compress&cs=tinysrgb&w=400");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 400px;
    margin: 0px;
}
h1 {
    color: white;
    font-style: italic;
    text-align: center;
    padding-top: 40px;
    font-weight: bold;
}
.container {
    border: 1px solid grey;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 70px;
    background-color: rgb(64, 59, 59);
    border-radius: 20px;

}
.product {
    padding-top: 30px ;
    padding-bottom: 30px;
    border-radius: 20px;
}
.for {
    color: white;
    text-align: center;
    font-style: italic ;
}